<meta charset="UTF-8">
<title>ClubHouse</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/public/stylesheets/style.css"  type="text/css">
<style>
  body { padding-top:50px; }
</style>