<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Member</title>
</head>
<body>
    <form action="/membership" method="post">
        <label for="member"> Enter the Passcode
            <input type="text" name="member">
        </label>
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>